<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found | CarInsights</title>
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/404.css" rel="stylesheet">
</head>
<body>
    <main>
        <img src="/images/404.png" alt="404 Page Not Found">
        <div id="text">Oops! Page Not Found</div>
        <button class="btn btn-link-inside"><a href="/">Back to Home</a></button>
    </main>
</body>
</html>