<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Add Blog | CarInsights</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" /></head>
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/addBlog.css" rel="stylesheet">
<body>
    <main>
        <section id="logout">
            <button class="btn" id="logout-btn" onclick="localStorage.removeItem('auth'); location='/'">Logout</button>
        </section>
        <section id="addBlog">
            <div id="addBlog-heading">Add Blog</div>
            <form enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Blog Title" id="title">
                </div>
                
                <div class="form-group">
                    <label for="author">Author</label>
                    <select name="author" id="author">
                        <% authors.forEach(element => { %>
                            <option value="<%= element.name %>"><%= element.name%> (<%= element.username %>) </option>
                        <% }) %>
                    </select> 
                </div>
                
                <div class="form-group">
                    <label for="visibility">Visibility</label>
                    <select name="visibility" id="visibility">
                        <option value="Private" selected>Private</option>
                        <option value="Public">Public</option>
                    </select> 
                </div>
                
                <img id="previewImage">
                <div class="form-group">
                    <label for="coverImg">Upload Cover Image</label>
                    <input type="file" name="coverImg" id="coverImg" accept="image/png, image/gif, image/jpeg">
                </div>
        
                <!-- Blog -->
                <div id="editor">
                </div>

                <input type="submit" id="addBlog-submit-btn" class="btn" value="Save Blog">
            </form>
            <div id="err"></div>
        </section>
    </main>
</body>
<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<script src="js/addBlog.js"></script>
<script src="js/adminAuth.js"></script>
</html>