<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogpost | CarInsights</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/blogpost.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar', {homeActive: "", blogsActive: "active", contactActive:" "}) %>
    <main>
        <article id="blog">
            <div id="title">Classic Revival: Revisiting Iconic Cars Through Modern Reviews</div>
            <div id="details">
                <span>Dasteen</span> | 30 Jan 2024 | 3 Min Read
            </div>
            <img src="images/blogs/blog-1.png" alt="Car">
            <div id="blog-body">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo ducimus tenetur dolor omnis, vel unde veniam officia. Adipisci laboriosam corporis soluta, saepe sed dolore rerum doloribus cumque? Corrupti assumenda, rem ipsam voluptas ullam corporis ipsum, possimus omnis similique, hic error.</p>


                <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti minima, harum suscipit laborum magnam quibusdam.</h3>
                <h4>
                    <ul>
                        <li>Lorem, ipsum.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor, sit amet adipisicing elit.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum enim aliquid cum harum tempora nulla. Soluta consequuntur sapiente odit, cumque ipsa quae minus non incidunt iusto consequatur impedit praesentium quam deserunt, illum sunt pariatur. Temporibus voluptates dolores illo veritatis earum?</p>
            </div>
        </article>
        <section id="latest-blogs">
            <h2 id="latest-blogs-heading">Latest Blogs</h2>
            <div id="latest-blogs-container">
                <article class="latest-blog">
                    <img src="images/blogs/blog-2.png" alt="Car">
                    <div class="latest-blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <button class="btn">Read Article</button>
                </article>
                <article class="latest-blog">
                    <img src="images/blogs/blog-3.png" alt="Car">
                    <div class="latest-blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <button class="btn">Read Article</button>
                </article>
                <article class="latest-blog">
                    <img src="images/blogs/blog-4.png" alt="Car">
                    <div class="latest-blog-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                    <button class="btn">Read Article</button>
                </article>
            </div>
        </section>
    </main> 
    <%- include('footer') %>
</body>
<script src="js/hamburger.js"></script> 
</html>