<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Document</title>
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
</body>
<script src="js/hamburger.js"></script>
<script>
    // setInterval(() => {
    //     document.location = '/'
    // }, 1000);
</script>
</html>