<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Login - Dashboard | CarInsights</title>
    <link href="/css/utility.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar', {homeActive: "", blogsActive: "", aboutActive:" "}) %>
    <main>
        <section id="login">
            <div class="logo">
                <img src="images/logo.svg" alt="CarInsights Logo">
                <div class="logo-text">CarInsights</div>
            </div>
            <div class="login-text">Dashboard Login</div>
            <form action="">
                <input type="text" name="username" id="username" placeholder="Username">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="LogIn" class="btn" id="loginBtn">
            </form>
        </section>
    </main>
</body>
<script src="js/hamburger.js"></script>
</html>