<header>
    <nav id="nav">
        <div id="nav-left">
            <a href="/" class="logo-link">
                <img src="images/logo.svg" alt="Car Insights Logo" class="logo">
                <div class="logo-text">CarInsights</div>
            </a>
        </div>
        <div id="nav-right">
            <ul id="navItems">
                <li class="navItem <%=homeActive%>"><a href="/">Home</a></li>
                <li class="navItem <%=blogsActive%>"><a href="/blogs">Blogs</a></li>
                <li class="navItem <%=aboutActive%>"><a href="/about">About</a></li>
                <li class="navItem"><a href="#newsletter">Subscribe</a></li>
            </ul>
        </div>
        <div id="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </nav>
</header>